@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav a {
    text-align: center;
    text-decoration: none;
  }
#hero-msg h1 {
    text-align: center;
}
 #hero-msg h4 {
    text-align: center;
 }
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
div content {
    max-width: 1600px;
}
#background {
    height: 725px;
}
.icon {
    width: 80px;
}
image {
    width: 80px;
}
#hero-img {
    width: 100%;
}
#logo-img {
    width: 80px;
}
body {
    background-color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(142, 193, 255);
}
nav a:hover {
    background-color: white;
}
.book {
    background-color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color:aquamarine
}
.join:hover {
    background-color: aquamarine;
}
#background {
    background-color:rgb(142, 193, 255);
}
.msg {
    background-color: rgb(142, 193, 255);
}
footer {
    background-color: rgb(142, 193, 255);
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
  }
#hero-msg h1 {
    text-align: center;
}
 #hero-msg h4 {
    text-align: center;
 }
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
div content {
    max-width: 1600px;
}
#background {
    height: 725px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
image {
    width: 80px;
}
#hero-img {
    width: 100%;
}
#logo-img {
    width: 80px;
}
body {
    background-color: aliceblue; 
}
header {
    background-color:rgb(142, 193, 255);
}
nav a:hover {
    background-color: white;
}
.book {
    background-color: aliceblue;
    text-decoration: none;
    padding: 15px 30px;
}
.join {
    background-color: aliceblue;
    text-decoration: none;
    padding: 15px 30px;
}
.book:hover {
    background-color:aquamarine
}
.join:hover {
    background-color: aquamarine;
}
#background {
    background-color:rgb(142, 193, 255);
}
.msg {
    background-color: rgb(142, 193, 255);
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: rgb(142, 193, 255);
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}
h1.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
h2 {
    margin: 0;
}
footer.social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}